#topNav {
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 80px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
}

.mainNav {
  position: fixed;
  width: 370px;
  top: 30px;
  left: 50%;
  margin-left: -185px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
}

nav a {
  padding-left: 20px;
  padding-right: 20px;
}

#home {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#homebox {
  position: absolute;
  height: 245px;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

#logo {
  width: 300px;
  height: 225px;
  margin: auto;
}

#work {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#bamfProj {
  position: absolute;
  height: 544px;
  width: 400px;
  margin: auto;
  top: 50%;
  left: 50%;
  margin-top: -272px;
  margin-left: -200px;
}

#bamfPic {
  width: 400px;
  margin: auto auto 10px auto;
}

#bamfInfo {
  width: 100%;
}

#bamfInfoBox {
  width: 400px;
  margin: 0px auto 0px auto;
  padding-left: 0px;
  padding-right: 0px;
}

div ul {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
}

div ul:nth-child(2) {
  text-transform: none;
  text-align: justify;
}

#about {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#aboutbox {
  position: absolute;
  margin: auto;
  width: 1268px;
  height: 402px;
  top: 50%;
  left: 50%;
  margin-top: -201px;
  margin-left: -634px;
}

#landscape {
  position: relative;
  margin: 10px auto auto auto;
}

#caption {
  font-style: italic;
}

#aboutinfo {
  width: 400px;
  margin: auto;
  padding: 0;
}

#contact {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

#contactbox {
  position: absolute;
  height: 175px;
  width: 654px;
  top: 50%;
  left: 50%;
  margin-top: -88px;
  margin-left: -327px;
}

div#contactbox a {
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}
